- name: Create OAuth2 application in AAP
  awx.awx.application:
    name: "{{ aap_oauth_client_name}}"
    description: "Self Service application"
    organization: "{{ aap_organization }}"
    state: present
    authorization_grant_type: authorization-code
    client_type: confidential
    redirect_uris:
      - "{{ rhaap_redirect_url | default('https://placeholder.com') }}"
    controller_host: "{{ controller_host }}"
    controller_username: "{{ controller_username }}"
    controller_password: "{{ controller_password }}"
    validate_certs: "{{ controller_verify_ssl }}"
  register: app_result
  tags: [create_oauth]

- name: Show OAuth2 application result
  debug:
    var: app_result
  tags: [create_oauth]
