- name: Get Route for RHAAP Helm release using label
  kubernetes.core.k8s_info:
    api_version: route.openshift.io/v1
    kind: Route
    namespace: "{{ openshift_namespace }}"
    label_selectors:
      - "app.kubernetes.io/instance={{ helm_release_name }}"
  register: rhaap_route
  tags: [get_route]

- name: Debug helm_release_name and namespace
  debug:
    msg: "helm_release_name={{ helm_release_name }}, openshift_namespace={{ openshift_namespace }}"

- name: Debug route host
  debug:
    msg: "Route host is {{ rhaap_route.resources[0].spec.host }}"

- name: Set RHAAP route hostname fact
  set_fact:
    rhaap_route_host: "{{ rhaap_route.resources[0].spec.host }}"

- name: Set OAuth redirect URI and app URL
  set_fact:
    rhaap_redirect_url: "https://{{ rhaap_route_host }}/api/auth/rhaap/handler/frame"
    rhaap_app_url: "https://{{ rhaap_route_host }}"

- name: Get OAuth application ID from Gateway
  ansible.builtin.uri:
    url: "{{ aap_controller_url }}/api/gateway/v1/applications/?name={{ aap_oauth_client_name | urlencode }}"
    method: GET
    user: "{{ aap_admin_username }}"
    password: "{{ aap_admin_password }}"
    force_basic_auth: yes
    validate_certs: "{{ aap_ssl_verify }}"
    status_code: 200
  register: _oauth_app_response
  tags: [update_oauth]

- name: Update OAuth2 application in AAP Gateway with RHAAP route
  ansible.builtin.uri:
    url: "{{ aap_controller_url }}/api/gateway/v1/applications/{{ _oauth_app_response.json.results[0].id }}/"
    method: PATCH
    user: "{{ aap_admin_username }}"
    password: "{{ aap_admin_password }}"
    force_basic_auth: yes
    validate_certs: "{{ aap_ssl_verify }}"
    body_format: json
    body:
      redirect_uris: "{{ rhaap_redirect_url }}"
    status_code: [200, 204]
  tags: [update_oauth]

