---
# SPDX-License-Identifier: MIT-0
# Create demo users in AAP

- name: Display users creation start
  ansible.builtin.debug:
    msg: "Creating {{ aap_selfservice_custom_users | length }} demo users..."
  when: aap_selfservice_custom_debug | bool

- name: Create AAP users #at the AAP platform level
  ansible.platform.user:
    username: "{{ item.username }}"
    password: "{{ item.password }}"
    email: "{{ item.email }}"
    first_name: "{{ item.first_name }}"
    last_name: "{{ item.last_name }}"
    state: present
    aap_hostname: "{{ aap_selfservice_custom_controller_url }}"
    aap_username: "{{ aap_selfservice_custom_admin_username }}"
    aap_password: "{{ aap_selfservice_custom_admin_password }}"
    aap_validate_certs: "{{ aap_selfservice_custom_verify_ssl }}"
  loop: "{{ aap_selfservice_custom_users }}"
  loop_control:
    label: "{{ item.username }}"
  register: _user_result
  failed_when:
    - _user_result is failed
    - not aap_selfservice_custom_skip_existing
    - "'already exists' not in (_user_result.msg | default(''))"

- name: Display users creation complete
  ansible.builtin.debug:
    msg: "Successfully created {{ aap_selfservice_custom_users | length }} users"
